.hyip_container{
  width: 80%;
  margin:0 auto;
  padding-top:40px;
  padding-bottom:40px;
}

mat-form-field{
  // width:100%;
}

mat-paginator{
  display:flex;
}

table{
  width:100%;
}

.img{
  img{
    max-width:80px;
    max-height:25px;
  }
}

.red_pay{
  color:red;
}

.green_pay{
  color: green;
}

.top_table_filters{
  display: flex;
  flex-direction:row;
  padding-left:20px;
  padding-right:20px;
  justify-content: space-between;
  margin-bottom:2px;
  background: #fff;
}

td a:link{
  color:#383838;
  text-decoration:none;
}



tr.mat-footer-row, tr.mat-row{
  height:68px;
}
