.tbar{
  background: #2980B9;
  background: -webkit-linear-gradient(left top, #2980B9, #33CCCC);
  background: -o-linear-gradient(bottom right, #2980B9, #33CCCC);
  background: -moz-linear-gradient(bottom right, #2980B9, #33CCCC);
  background: linear-gradient(to bottom right, #2980B9, #33CCCC);
  background-repeat: no-repeat;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1{
  margin-left:20px;
  cursor:pointer;

}

img{
  cursor:pointer;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.mat-button-wrapper{
  padding:0 !important;
  font-weight:100;
}
