<mat-toolbar class="tbar">
  <img (click)="navigateHome()" src="dashboard/assets/deqent_white.png" width="200px">
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div class="button-row">
    <a mat-button *ngIf="!auth.isLogged" routerLink="signup">Signup</a>
    <a mat-button *ngIf="!auth.isLogged" routerLink="login">Login</a>

    <button mat-icon-button mat-fab *ngIf="auth.isLogged" [matMenuTriggerFor]="menu">
      <span class="initials">{{auth.initials}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="navigateHome()" mat-menu-item>
        <span>Home</span>
      </button>
      <button (click)="navigateReports()" mat-menu-item>
        <span>Reports</span>
      </button>
      <button (click)="auth.logout()" mat-menu-item>
        <span>Logout</span>
      </button>
    </mat-menu>

  </div>
</mat-toolbar>
