<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Enter deQent with your account</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="email" placeholder="Email" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" formControlName="password" placeholder="Password" >
      </mat-form-field>
      <div class="error_snack" *ngIf="formError">
        You entered wrong email or password
      </div>
      <button mat-raised-button color="primary" (click)="logIn()">Login</button>
    </form>
  </mat-card-content>
</mat-card>
