form{
  display:flex;
  flex-direction:column;
}

mat-card{
  box-sizing: border-box;
  margin: 0 auto;
  width:320px;
  margin-top:40px;


}

mat-form-field{
  margin-bottom:15px;
}

.error_snack{
  color: #f44336;
  font-size:13px;
  margin-bottom:20px;
}
