.reports_container{
  width:50%;
  margin:0 auto;
  margin-top:40px;
  text-align:left;
}



h4{
  margin-bottom:10px;
  font-weight:400;
  font-size:16px;
  margin-top:0;

}

p{
  font-weight:100;
  margin:0;
}


.report_item{
  margin-bottom:10px;
  cursor:pointer;
  padding:10px;
background:#f7f7f7;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

.report_item:hover{
  background:#ebebeb;

  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: v 0.2s ease-out;
}

@media (max-width: 768px) {
  .reports_container {
    width: 90%;
  }
}
