<div class="reports_container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reports</mat-card-title>
        <mat-card-subtitle>List of the available reports</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div (click)="viewReport(reportItem.id)" class="report_item col-xs-12 col-md-12" *ngFor="let reportItem of reports">
          <h4>{{reportItem.name}}</h4>
          <p class="report_description">{{reportItem.description}}</p>
        </div>
      </mat-card-content>
    </mat-card>
</div>
