<mat-card >
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content class="{{color}}">{{statNumber}}</mat-card-content>
</mat-card>
