<mat-card>
  <mat-card-header>
    <mat-card-title>Signup</mat-card-title>
    <mat-card-subtitle>Create your account in deQent</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="firstName" placeholder="First Name" >
        <mat-error *ngIf="form.controls.firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="lastName" placeholder="Last Name">
        <mat-error *ngIf="form.controls.lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="email" formControlName="email" placeholder="Email">
        <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <!--<mat-error *ngIf="form.controls.email.invalid && (form.controls.email.touched || form.controls.email.dirty)">

        </mat-error>-->
        <mat-error *ngIf="form.controls.email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="form.controls.password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signUp()">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
