.row{
  padding: 20px;
  margin-top: 20px;
}
.top20bot20{
  margin-top:20px;
  margin-bottom:20px;
}

mat-card{
  min-height:250px;
  margin-bottom:25px;

}

mat-card-content{
  min-height: 200px;
}

