<div class="row">
  <ng-container *ngFor="let chartElement of chartElements">
  <deq-numberstats
    *ngIf="chartElement.type == 'number'"
    class="col-xs-3"
    [statNumber]="chartElement.data"
    [title]="chartElement.title"
    [subtitle]="chartElement.subtitle"
  >
  </deq-numberstats>
  <deq-chart-element
    *ngIf="chartElement.type != 'number'"
    class="col-xs-6"
    [chartData]="chartElement.data"
    [chartType]="chartElement.type"
    [title]="chartElement.title"
    [subtitle]="chartElement.subtitle"
    [chartOptions]="chartElement.options">
  ></deq-chart-element>
  </ng-container>
</div>
