<div class="row">
  <ng-container *ngFor="let chartElement of chartElements">
    <deq-numberstats
      *ngIf="chartElement.type == 'number'"
      class="{{chartElement.style}}"
      [statNumber]="chartElement.data"
      [title]="chartElement.title"
      [subtitle]="chartElement.subtitle"
      [color]="chartElement.textColor"
    >
    </deq-numberstats>
    <deq-transactions
      *ngIf="chartElement.type == 'list'"
      class="{{chartElement.style}}"
      [chartData]="chartElement.data"
      [title]="chartElement.title"
      [subtitle]="chartElement.subtitle"
    >

    </deq-transactions>
    <deq-chart-element
      *ngIf="chartElement.type != 'number' && chartElement.type != 'list'"
      class="{{chartElement.style}}"
      [chartData]="chartElement.data"
      [chartType]="chartElement.type"
      [title]="chartElement.title"
      [subtitle]="chartElement.subtitle"
      [chartOptions]="chartElement.options">
      ></deq-chart-element>
  </ng-container>
</div>
