<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>


  <mat-card-content>
    <div class="transaction_container" *ngFor="let transaction of chartData">
      <div class="trans_detail" *ngFor="let trans_detail of KeysGetter(transaction)">{{transaction[trans_detail]}}</div>
    </div>
  </mat-card-content>
</mat-card>
