mat-card{
  width:100%;
  box-sizing: border-box;
  margin-bottom:20px;
}

.transaction_container{
  display:flex;
  width:100%;
  flex-direction:row;
  padding:10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.trans_detail{
  flex:1;
  text-align:left;
}




mat-card-content{
  max-height: 150px;
  min-height: 150px;
  overflow-y: scroll;
}
