<mat-card>
  <mat-card-header>
    <mat-card-title>Confirm email</mat-card-title>
    <mat-card-subtitle>Check your email and enter here the code</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="codeConfirm" placeholder="Enter confirmation code" >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="validateCode()">Confirm Code</button>
    </form>
  </mat-card-content>
</mat-card>
