/* You can add global styles to this file, and also import other style files */
html, body{
  height:100%;
  font-family: 'Roboto';
}

deq-root{
  height:100%;
  display:flex; flex-direction: column
}
body { margin: 0; text-align:center; background: #ECF0F1; }
.fullcontainer{
  flex: 1 0 auto;
}
mat-card-header .mat-card-header-text{
  margin:0;
  text-align:left;
}

.mat-card-header{
  .mat-card-title{
    font-size:18px;
  }
  .mat-card-subtitle{
    font-size:12px;
  }

}

deq-hyip-list{
  display:flex;
  flex-direction: column;
}

.mat-fab .mat-button-wrapper{
  padding:0 !important;
  font-weight:100;
}

footer{
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  padding:20px;
  width:100%;
  background: #2C3E50;
  color: #fff;
  font-weight:300;
  font-size:12px;
}


td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  text-align:left;
}


deq-report-detail{
  width:70%;
  margin: 0 auto;
  margin-top:40px;
}


@media (max-width: 768px) {
  deq-report-detail{
    width: 90%;
  }
}
