<mat-card>
  <mat-card-header>
    <mat-card-title>{{report?.name}}</mat-card-title>
    <mat-card-subtitle>{{report?.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table class="report_table">
      <thead *ngIf="report">
      <th *ngFor="let reportHeads of keysGetter(report?.data[0])">{{reportHeads}}</th>
      </thead>
      <tbody>
      <tr *ngFor="let report_element of report?.data">
        <td *ngFor="let r_key of keysGetter(report_element)">{{report_element[r_key]}}</td>
      </tr>

      </tbody>
    </table>
  </mat-card-content>
</mat-card>
